<!DOCTYPE html>
<html>
<head>
	<title>10x10 Table</title>
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
		}
		td, th {
			border: 1px solid black;
			text-align: center;
			padding: 8px;
		}
		th {
			background-color: #f2f2f2;
		}
	</style>
	<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script>
		$(document).ready(function (){
			setInterval(function() {
			$.ajax({
				url: '/ajax',
				type: "post",
				contentType: 'application/json; charset=utf-8',
				// data: JSON.stringify({ Quote: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'}),
				dataType: 'json',
				success: function(r) {
					if (r.Reload) {
						location.reload()
					}
				}
			})
			}, 10000);
		});
	</script>
</head>
<body>
<p id="response"></p>
<table>
	<thead>
	<tr>
		<th>raw\column</th>
		<th>1</th>
		<th>2</th>
		<th>3</th>
		<th>4</th>
		<th>5</th>
		<th>6</th>
		<th>7</th>
		<th>8</th>
		<th>9</th>
		<th>10</th>
	</tr>
	</thead>
	<tbody>
	{{range $i, $row := .TableData}}
	<tr>
		<th>{{$i}}</th>
		{{range $j, $cell := $row}}
		<td>{{$cell}}</td>
		{{end}}
	</tr>
	{{end}}
	</tbody>
</table>
</body>
</html>